.col-sm-1.titlebar {

font-size: 15px;
}

.col-sm-2.titlebar {

font-size: 15px;
}

.col-sm-9.titlebar {
background-color:#82CAFA;
text-align: right;
font-size: 15px;
}

div.center {
    text-align: center; 
    padding-top: 5px;
	padding-bottom: 30px;
}

#description {
padding-top: 7px;
padding-bottom: 3px;
padding-left: 15px;
padding-right: 15px;
background-color: #A0CFEC;
border: solid 2px #c3c3c3;
font-size: 125%;
}

.link
{
   color:black;
}

#bodycolor {
background-color:blue;
}

.created {
text-align:right;
padding-top:70px;
padding-right: 10px;
font-size:75%;
}