.navbar {
  background-color: white; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 55px;
    height: 55px;
    padding-top: 0;

}

legend {
	color: black;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #FEFCFF;
	
	background: #F0FFFF;
	border-radius: 5px;
	padding: 20px;
	width: 30%;

    margin: 0 auto;
}


#center{
	text-align:center;
}