.navbar-brand,
.navbar-nav li a {
    line-height: 55px;
    height: 55px;
    padding-top: 0;
}

#quantity {
   padding-left: 30px;  
}

#lradio {
	margin-right: 5px;
}

#cradio {
	margin-left: 20px;
	margin-right: 5px;
}

#rradio {
	margin-left: 20px;
	margin-right: 5px;
}

.styled-select
{
	margin-right: 20px;
	margin-left: 5px;
}

.navbar {
  background-color: white; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}