body {
	background-color: #b0c4de;
	color: #b0c4de;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 15px;
}
.progress {
width: 650px;
}

hr {
    border: none;
    height: 3px;
    background-color: #333; 
}

.heading {
font-size:350%;
font-weight:bold;
text-align:center;
font-family:Gotham;
background-color:#E5E4E2;
}
